@charset 'utf-8';
body {
    margin: 0;
    padding: 0;
}

/**ヘッダー**/
header {
    top: 0px;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 100;
    background-color: rgba(10, 10, 10, 0.8);
}

.header-box {
    display: inline-block;
}

.logo {
    color: aliceblue;
    text-align: center;
}

.logo img{
/*    width: 80%;*/
    margin-top: 8px;
    margin-left: 8px;
}

.search {
    top: 16px;
    right: 60px;
    position: fixed;
}

.acount-icon {
    top: 4px;
    right: 10px;
    position: fixed;
    color: aliceblue;
    font-size: 35px;
    text-align: center
}

/**トップ**/
.top  {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 500px;
    background-image: url("../../assets/img/top00.jpg");
    background-size: cover;
    display: block;
    text-align: center;
}

.top-title {
    margin-top: 14%;
    width: 100%;
    height: 80px;
/*    background-color: aqua;*/
}

.top-title h1 {
    color: white;
    font-size: 50px;
/*    background-color: antiquewhite;*/
}

.search-box {
    width: 100%;
    height: 50px;
    display: inline;
}

.search-box img {
    
}

.search-box input {
    width: 50%;
    height: 40px;
/*    background-color: azure;  */
    background-color: rgba(255, 245, 245, 1.0);
    font-size:25px;
    border:0.1px;
    border-radius: 5px;
    text-align: center;
}

.top-bottom {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: rgba(200, 240, 240, 0.5);
}

/**ギャラリー**/
.gallery {
    top: 500px;
    left: 0px;
    width: 100%;
    height: 2000px;
    position: absolute;
    background-color: white;
    padding: 1%;
    box-sizing:border-box;
}

.gallery-bar {
}

.gallery-main {
    width: 100%;
    height: auto;
    background-color: rgba(10, 10, 10, 0.4);
    padding: 1%;
    box-sizing:border-box;
}

.gallery-table {
    width: 100%;
    height: 400px;
    background-color:white;
    margin-bottom: 10px;
    display: inline-block;
}

.gallery-photo {
    width: 24%;
    height: 96%;
    margin: 0.5%;
    background-color: black;
    float:left;
}

.gallery-more {
    width: 60%;
    height: 60px;
    font-size: 40px;
    text-align: center;
    margin: 20px 20%;
    background-color: black;
    color: white;
}

/**フッター**/
#footer {
/*
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: rgba(5, 60, 5, 1.0);
*/
}